@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

@media (max-width: 510px) {
    .span-time {
        text-align: center;
    }
    .span-time span {
        font-size: 12px;
    }
}

@media (max-width: 390px) {
    .box-outside {
        min-width: 19.32rem;
    }
    .box-weather {
        height: 11rem;
    }
    .span-all {
        font-size: 13px;
    }
    #dark-mode-toggle {
        left: -42px;
    }
}

@media (max-width: 320px) {
    .box-outside {
        min-width: 15.32rem;
    }
    .box-weather {
        height: 10rem;
    }
}